body {
    background: #0db1ce;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c9eff3, #0db1ce);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #c9eff3, #0db1ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      outline: none;
      color: #fff;
      background-color: #144872;
      border: none;
      border-radius: 15px;
      box-shadow: 4px 6px 5px rgba(77, 65, 65,0.23);
      font-family: 'Style Script', cursive;    }
    
    .button:hover 
    {background-color: #14659b}
    
    .button:active {
      background-color: #58a4eb;
      box-shadow: 0 5px rgba(11, 102, 112, 0.16);
      transform: translateY(4px);
      color: #0c253a;
      font-weight: bold;

    }
  
    #container {
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
  
    h1{
      text-align: center;
      justify-content: center;
      font-family: 'Domine', serif;
      font-size: 80px;
      color: #fa2174;
      user-select: none;
    }